# Yolo Models
*.pt

# Ruff cache
.ruff_cache

# MacOS
.DS_Store

# Environment variables
.env

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.cls
*.log
*.out
*.synctex.gz
fig-eps-converted-to.pdf
bst/
*.bib
*.eps

# Temporary to not leak before publishing
paper.md
paper.pdf
paper.docx

# Word
~$*.docx

# Obsidian
.obsidian

# ML
runs/
datasets/

# Script
training.py